<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/styles/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <div class="card__image">
                            <img src="<%- product.imageUrl %>"
                                alt="A Book">
                        </div>
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                            <div class="card__content">
                                <h2 class="product__price">&#8377; <%- product.price %></h2>
                                <p class="product__description"><%- product.description %></p>
                            </div>
                            <div class="card__actions">
                                <form action="/products/<%= product.id %>" method="GET">
                                    <button class="btn" type="submit">Details</button>
                                </form>
                                <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                            </div>
                        </header>
                        
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>